



.table_opt {
  width: 3%;
}
.table_opt_icon {
  margin-top: -2px;
}

.fr {float: right;}
.hide{display:none}

.tag_icon {
	display:none;
	margin-left:5px;
}
.tag_column {
	width:400px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s {font-size: 0.8em; }
  .m {font-size: 1.2em; }
  .l {font-size: 1.8em; }

}

.form-inline {
  display: inline-block;
  div {
    display: inline-block;
  }
}
.mini-bar {
  height: 10px;
  margin-bottom: 6px;
  margin-left:5px;
  margin-right: 15px;
}
.progress-filename {
  margin-left: 5px;
}
.mini-fileinput {
  width: 80px;
}




